
<div class="row">

    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body text-center" style="padding: 0.5rem" id="quickactions">

                <a data-toggle="tooltip" title="Informações do aparelho" class="btn btn-success btn-sm btn-margin" href="details">
                    <i class="fas fa-info-circle"></i>
                </a>
                <a data-toggle="tooltip" title="Localizações" class="btn btn-info btn-sm btn-margin" href="tracking">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                <a data-toggle="tooltip" title="Mensagens" class="btn btn-warning btn-sm btn-margin text-white" href="messages">
                    <i class="fas fa-envelope"></i>
                </a>
                <a data-toggle="tooltip" title="Textos e cópias" class="btn btn-secondary btn-sm btn-margin" href="words">
                    <i class="fas fa-keyboard"></i>
                </a>
                <a data-toggle="tooltip" title="Arquivos" class="btn btn-danger btn-sm btn-margin" href="files">
                    <i class="fas fa-folder-open"></i>
                </a>
                <a data-toggle="tooltip" title="Aplicativos e downloads" class="btn btn-primary btn-sm btn-margin" href="downloads">
                    <i class="fas fa-download"></i>
                </a>

                <a data-toggle="tooltip" title="Chamadas e contatos" class="btn btn-success btn-sm btn-margin" href="phone">
                    <i class="fas fa-phone-square-alt"></i>
                </a>
                <a data-toggle="tooltip" title="Notificações e ambiente" class="btn btn-info btn-sm btn-margin" href="notifications">
                    <i class="far fa-bell"></i>
                </a>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>