@{
    ViewData["Title"] = "Informações";
    ViewData["PageScript"] = "/js/app/device/files.js";

}
@model XSpy.Shared.Models.Views.Device.DeviceDataViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

@section PreScripts
{
    <script>
        window.deviceId = '@Model.Device.Id';
    </script>
}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Arquivos na Galeria</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable" class="table table-hover table-text-center" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var perm in Model.Device.ImageList)
                            {
                                <tr>
                                    <td>@perm.OriginalPath</td>
                                    <td>
                                        <button type="button" data-toggle="tooltip" title="Download" data-path="@perm.OriginalPath" class="btn btn-info btn-sm btn-margin act-download tooltip-download">
                                            <i class="fas fa-cloud-download-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>


            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listar arquivos</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable_2" class="table table-hover table-text-center" style="width: 100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Caminho</th>
                                <th>Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>


        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>