@{
    ViewData["Title"] = "Download";
    ViewData["PageScript"] = "/js/app/home/download.js";

}


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Baixar aplicativo</h3>
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1 text-center">
                    <p>
                        Baixe o aplicativo clicando no botão abaixo e, quando solicitado, insira o seu token de acesso.
                        <br />
                        <button id="download" title="Download" class="btn btn-primary">Baixar App</button>
                        <br />
                        Seu token: <br/>
                        <textarea id="token" disabled>@ViewBag.User.DeviceToken</textarea>
                    </p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->

</section>