<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>XSpy - @ViewData["Title"]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/libs/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @if (IsSectionDefined("Styles"))
    {
        @await RenderSectionAsync("Styles", required: false)
    }

    @if (IsSectionDefined("PreScripts"))
    {
        @await RenderSectionAsync("PreScripts", required: false)
    }

    @{
        string pageScript = ViewData["PageScript"] as string;
        if (!string.IsNullOrEmpty(pageScript))
        {
            <script data-main="@pageScript" src="~/libs/require.js/require.min.js"></script>
        }
        else
        {
            <script data-main="js/default" src="~/libs/require.js/require.min.js"></script>
        }
    }

</head>
<body class="hold-transition login-page">

    @RenderBody()

</body>
</html>